
body{
background:#7F5300;
color:#FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size:16px;
font-weight: normal;
font-style: normal;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
}
	
*:focus{
box-shadow:none !important;
outline: 0 !important;
}
    
.container{
max-width:1140px;
padding-left: 16px;
padding-right: 16px;
}
  

/* HEADER */

.navbar-brand{
font-size:1.75em;
font-weight:700;
color:#000000 !important;
letter-spacing:-0.04em;
}

.navbar{
padding:12px 0;
}
	
.nav-link{
color:#FFDE59 !important;
font-size:20px;
letter-spacing:0em;
    font-weight:500;
}

/* ---------------- */

/* HERO CONTAINER */

	/*
.hero-container{
    height: calc(100vh - 76px);
    min-height: calc(1000px - 76px);
}
*/

	
.hero-container .hero-title{
font-weight:700;
font-size:3.5em;;
letter-spacing:0px;
    position:relative;
color:#FFFFFF;
}

    
    
.hero-container .hero-description{
font-size:1.25em;
text-align: center !important;
}
    
    .hero-container .hero-img{
}
    
    .hero-container .hero-img-wrapper{
position:relative;
}
    
  .hero-image {
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: bounce-2;
        animation-timing-function: ease;
    }
    @keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }   


.hero-container .buy-button{
color: #FFFFFF;
background-color: #CC1DDE;
border-color: #CC1DDE;
position: relative;
z-index: 1;
overflow: hidden;
border-radius:1em;
padding:16px 20px;
font-weight:600;
letter-spacing:0px;
font-size:1em;
}

.hero-container .buy-button:hover, .hero-container .buy-button:focus{
/*background-color: rgba(113, 223, 230, 0.75) !important;*/
}

.hero-container .telegram-button{
color: #FFFFFF;
background-color: #4CE8D3;
border-color: #4CE8D3;
position: relative;
z-index: 1;
overflow: hidden;
border-radius:1em;
padding:16px 20px;
font-weight:600;
letter-spacing:0px;
font-size:1em;
}

.hero-container .telegram-button:hover, .hero-container .telegram-button:focus{
/* background-color: #71DFE6 !important; */
}

    
    
/* ---------------- */

/* SECTION CLASS */

.section{
}

.section-container{
}

.section-title{
font-size:3em;
font-weight:700;
font-family: 'Open Sans', sans-serif;
/*text-shadow: 10px #2C174F;*/
    /*letter-spacing:0.025em;*/
}

/* ---------------- */

/* ABOUT SECTION */

.about-section{
background:#FFA300;
}

.about-container{
color:#FFFFFF;
padding-bottom:0 !important;
}

.about-container .about-title{
   color:#FFFFFF;
    
}

.about-container .about-description{
}

/* ---------------- */

/* FEATURES SECTION */

.features-section{
background:#FFA300;
}

.features-container{
color:#FFFFFF;
padding-top:0 !important;
}

.features-container .tokenomics-title{
}

.features-container .tokenomics-description{
}

.features-container .tax-card{
 border:2px solid #FFFFFF;
border-radius:1em;
max-width:480px;
background:transparent;
}

.features-container .tax-title{
color: transparent;
font-weight: 600;
line-height: 0.85;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #C012D1;
font-size:5em;
font-weight:700;
}
    
.features-container .tax-title-2{
color: #FFFFFF;
font-size: 1.5em;
font-weight: 700;
letter-spacing: 0;
line-height: 1;
}
    
.features-container .tax-description{
font-size:1em;
font-weight:400;
    color: #FFFFFF;
}

/* ---------------- */

/* TOKENOMICS SECTION */

.tokenomics-section{
    background:#BF7900;
}

.tokenomics-container{
color:#FFFFFF;
}

.tokenomics-container h3{
font-size:2.5em;
font-weight: 700;
  color:#FFFFFF;
font-family:'Poppins', sans-serif;
}

.tokenomics-container .tokenomics-title{
}

.tokenomics-container .tokenomics-description{
}

.tokenomics-container .tax-card{
 border:2px solid #FFFFFF;
border-radius:1em;
max-width:480px;
background:transparent;
}

.tokenomics-container .tax-title{
color: #FFFFFF;
font-weight: 600;
line-height: 0.85;
-webkit-text-stroke-width: 0px;
-webkit-text-stroke-color: #F2BC1C;
font-size:5em;
font-weight:700;
}
    
.tokenomics-container .tax-title-2{
color: #FFFFFF;
font-size: 1.5em;
font-weight: 700;
letter-spacing: 0;
line-height: 1;
}
    
.tokenomics-container .tax-description{
font-size:1em;
font-weight:400;
    color:#FFFFFF;
}


.tokenomics-container .tokenomics-info-table td{
	padding:1em 1em;
	border:0px solid #ECF4FF;
	color: #FFFFFF !important;
background:transparent !important;
}

.tokenomics-container .tokenomics-info-table td span{
	color: #FFFFFF !important;
}

.tokenomics-container .table{
	overflow:hidden;
	border-radius:1em;
	border:0px solid #71DFE6 !important;
	background:transparent;
	font-size:1em;
        color: #FFFFFF !important;
max-width:730px;
}

.tokenomics-container tbody{
}

.tokenomics-container .table-striped>tbody>tr:nth-of-type(odd) {
	--bs-table-accent-bg: transparent !important;
}


/* ---------------- */

/* ROADMAP SECTION */ 

.roadmap-section{
background:#FFA300;
}
	
.roadmap-container{
color:#FFFFFF;
}

.roadmap-container ul > li{
margin-bottom:4px;
margin-top:4px;
}

.roadmap-container .roadmap-title{
    color:#FFFFFF;
}

.roadmap-container h4{
color:#FFFFFF;
}

/* ---------------- */

/* SWAP SECTION */

.swap-section{
    background:#BF7900;
}

.swap-container{
color:#FFFFFF;
}


/* ---------------- */

    
    /* ROADMAP SECTION */ 

.faq-section{
background:#FFA300;
}
	
.faq-container{
color:#FFFFFF;
}

.faq-container .accordion-item {
    background-color: #805100;
    border: 1px solid rgba(0,0,0,.125);
}   

.faq-container .accordion-button{
    color: #FFFFFF !important;
    background-color: #805100 !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) important;
}

.faq-container .accordion-item{
    margin-bottom:8px;
}

.faq-container .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

    
.faq-container .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faq-container .accordion-body{
color:#FFFFFF;
}
/* ---------------- */

/* FOOTER SECTION */

.footer-section{
    background:#402800;
}

.footer-container{
color:#FFFFFF;
}

.footer-container ul > li{
display: inline-block;
zoom:1;
margin-left:12px;
margin-right:12px;
margin-bottom:24px;
}

.footer-container a{
color:#FFD70D;
font-size:1.25em;
font-weight:500;
}

/* ---------------- */
	
@media (min-width: 576px){
}

@media (min-width: 768px){
}

@media (min-width: 992px){
	/*
	.hero-container{
    height: calc(100vh - 76px);
		min-height: calc(720px - 76px);
}
*/
	
.hero-container .hero-description{
font-size:1.5em;
}

.hero-container .hero-title{
font-weight:700;
font-size:4em;
letter-spacing:0px;
}
    
.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 1.125rem;
padding-left: 1.125rem;	
}

.navbar-expand-lg .navbar-nav .nav-item:last-child > .nav-link{
padding-right: 0rem !important;
}
}

@media (min-width: 1200px){
}

@media (min-width: 1400px){
}
	
	
.navbar-collapse{
padding-top:76px !important;
z-index:2 !important;
background:#402800 !important;
position:fixed !important;
top:0 !important;
left:0 !important;
width:100vw !important;
height:100vh !important;
text-align:center !important;
transition:none;
}
    
.navbar-toggler {
border:0;
z-index:3;
padding:0;
position:fixed !important;
top:16px;
right:16px;
}

.navbar .collapsed{
position:static !important;
}

.nav-link{
padding:12px;
color:#FFFFFF !important;
    text-transform:capitalize;
    font-size:1.125em;
    font-weight:500;
}


.navbar-toggler-icon{
background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='480' height='480'%0AviewBox='0 0 24 24'%0Astyle=' fill:%23FFFFFF;'%3E%3Cpath d='M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z'%3E%3C/path%3E%3C/svg%3E") !important;
height:35px;
width:35px;
}
    
.collapsed .navbar-toggler-icon{
background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='480' height='480'%0AviewBox='0 0 24 24'%0Astyle=' fill:%23FFFFFF;'%3E%3Cpath d='M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z'%3E%3C/path%3E%3C/svg%3E") !important;
    height:35px;
    width:35px;
}

@media (min-width: 992px) {

.navbar-collapse{
padding-top:0 !important;
z-index:2 !important;
background:transparent !important;
position:static !important;
top:0 !important;
left:0 !important;
width:auto !important;
height:auto !important;
text-align:center !important;
}

    .nav-link{
color:#FFFFFF !important;
}
    
     .nav-link:hover{
color:#FFD70D !important;   
	}
	
.navbar-toggler {
border:0;
z-index:3;
}

}
    
    

/* 3D MAGIC BUTTON */

.pushable {
    background: #A8854E;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 1.125em;
    background: #FCC875;
    font-weight:500;
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

.buy-pushable-button{
background: #AA8F08;
}

.buy-pushable-button .front{
background: #FFD70D;
}

.telegram-pushable-button{
background: #AA4308;
}

.telegram-pushable-button .front{
background: #FF650D;
}
    
     /* LIVE BACKGROUND */
    
    .background-video-container {
        margin-top:-75px;
    position: absolute;
    z-index: -2;
    height: calc(100% + 75px);
    width: 100%;
    top: 0;
    left: 0;
}
    
    .dark-background-overlay {
        margin-top:-75px;
    position: absolute;
    z-index: -1;
    height: calc(100% + 75px);
    width: 100%;
    background: rgba(0,0,0,0.25);
    top: 0;
    left: 0;
}
    
    .background-video {
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    
